body {background-color: lightgoldenrodyellow;}
    h1   {color: blue;}
    p    {color: red;}
    p   {font-family: 'Courier New', Courier, monospace}
    h1   {font-family: 'Courier New', Courier, monospace}
    h2   {font-family: 'Courier New', Courier, monospace}
    h2   {color: blue;}
